(
    spritesheet_width: 160,
    spritesheet_height: 160,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 32,
            height: 32
        ),
        (
            x: 32,
            y: 0,
            width: 16,
            height: 16
        ),
        (
            x: 48,
            y: 0,
            width: 16,
            height: 16
        ),
        (
            x: 32,
            y: 16,
            width: 16,
            height: 16
        ),
        (
            x: 48,
            y: 16,
            width: 16,
            height: 16
        ),
        (
            x: 0,
            y: 32,
            width: 1,
            height: 8
        )
    ]
)